{% if menu %}
	<ul class="menu menu--{{ menu_name }}">
	{% for item in menu %}
		<li class="menu__item {{ item.classes | join(' ') }}">
			<a class="menu__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
